body {
    background-image: linear-gradient(#fff4f6, #fff4f6, #fcc9d3, #cc2241);
    height: 100vh;
}

body #title {
	width: 100%;
	text-align: center;
	font-size: 2.5em;
}

body #subtitle {
	width: 100%;
	text-align: center;
	font-size: 2.1em;
}

body #counter {
	width: 100%;
    margin-top: 20px;
	text-align: center;
	font-size: 2.8em;
}

body .pic img {
    max-width: 100%;
}

body .naal {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}


