body {
	background-image: url("vargas.jpg");
	background-size: 100%;
	color: white;
}

body h1 {
	font-size: 60px; 
}

.warm-up {
	margin-top: 80px; 
	/*border-top: 4px dashed white;*/
}

.seccond {
	margin-top: 10px
}
