body {
	background: url('./Resources/bg.jpg');
	background-size: cover;
}

body #title {
	width: 100%;
	text-align: center;
	font-size: 1.8em;
}

body #counter {
	width: 100%;
	text-align: center;
	font-size: 1.8em;
}