body {
    background: url('./Resources/hus.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body #title {
	width: 100%;
	text-align: center;
	font-size: 2.5em;
}

body #subtitle {
	width: 100%;
	text-align: center;
	font-size: 2.1em;
}

body #counter {
	width: 100%;
    margin-top: 20px;
	text-align: center;
	font-size: 2.8em;
}

body .pic img {
    max-width: 100%;
}

body .naal {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}


